<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhishoulife.system.mapper.HealthSportFitnessMapper">
    
    <resultMap type="HealthSportFitness" id="HealthSportFitnessResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="attention"    column="attention"    />
        <result property="crowd"    column="crowd"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectHealthSportFitnessVo">
        select id, title, content, attention, crowd, create_time, status from health_sport_fitness
    </sql>

    <select id="selectHealthSportFitnessList" parameterType="HealthSportFitness" resultMap="HealthSportFitnessResult">
        <include refid="selectHealthSportFitnessVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectHealthSportFitnessById" parameterType="Long" resultMap="HealthSportFitnessResult">
        <include refid="selectHealthSportFitnessVo"/>
        where id = #{id}
    </select>

    <insert id="insertHealthSportFitness" parameterType="HealthSportFitness" useGeneratedKeys="true" keyProperty="id">
        insert into health_sport_fitness
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="attention != null and attention != ''">attention,</if>
            <if test="crowd != null and crowd != ''">crowd,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="attention != null and attention != ''">#{attention},</if>
            <if test="crowd != null and crowd != ''">#{crowd},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateHealthSportFitness" parameterType="HealthSportFitness">
        update health_sport_fitness
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="attention != null and attention != ''">attention = #{attention},</if>
            <if test="crowd != null and crowd != ''">crowd = #{crowd},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHealthSportFitnessById" parameterType="Long">
        delete from health_sport_fitness where id = #{id}
    </delete>

    <delete id="deleteHealthSportFitnessByIds" parameterType="String">
        delete from health_sport_fitness where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>