<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhishoulife.system.mapper.StudySkillLifeMapper">
    
    <resultMap type="StudySkillLife" id="StudySkillLifeResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="tool"    column="tool"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="STATUS"    />
    </resultMap>

    <sql id="selectStudySkillLifeVo">
        select id, title, content, tool, create_time, STATUS from study_skill_life
    </sql>

    <select id="selectStudySkillLifeList" parameterType="StudySkillLife" resultMap="StudySkillLifeResult">
        <include refid="selectStudySkillLifeVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="status != null "> and STATUS = #{status}</if>
        </where>
    </select>
    
    <select id="selectStudySkillLifeById" parameterType="Long" resultMap="StudySkillLifeResult">
        <include refid="selectStudySkillLifeVo"/>
        where id = #{id}
    </select>

    <insert id="insertStudySkillLife" parameterType="StudySkillLife" useGeneratedKeys="true" keyProperty="id">
        insert into study_skill_life
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null">content,</if>
            <if test="tool != null">tool,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">STATUS,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="tool != null">#{tool},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateStudySkillLife" parameterType="StudySkillLife">
        update study_skill_life
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="tool != null">tool = #{tool},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">STATUS = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudySkillLifeById" parameterType="Long">
        delete from study_skill_life where id = #{id}
    </delete>

    <delete id="deleteStudySkillLifeByIds" parameterType="String">
        delete from study_skill_life where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>