<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhishoulife.system.mapper.TrafficDriveSafeMapper">
    
    <resultMap type="TrafficDriveSafe" id="TrafficDriveSafeResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="carCheck"    column="car_check"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="STATUS"    />
    </resultMap>

    <sql id="selectTrafficDriveSafeVo">
        select id, title, content, car_check, create_time, STATUS from traffic_drive_safe
    </sql>

    <select id="selectTrafficDriveSafeList" parameterType="TrafficDriveSafe" resultMap="TrafficDriveSafeResult">
        <include refid="selectTrafficDriveSafeVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="status != null "> and STATUS = #{status}</if>
        </where>
    </select>
    
    <select id="selectTrafficDriveSafeById" parameterType="Long" resultMap="TrafficDriveSafeResult">
        <include refid="selectTrafficDriveSafeVo"/>
        where id = #{id}
    </select>

    <insert id="insertTrafficDriveSafe" parameterType="TrafficDriveSafe" useGeneratedKeys="true" keyProperty="id">
        insert into traffic_drive_safe
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null">content,</if>
            <if test="carCheck != null">car_check,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">STATUS,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="carCheck != null">#{carCheck},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateTrafficDriveSafe" parameterType="TrafficDriveSafe">
        update traffic_drive_safe
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="carCheck != null">car_check = #{carCheck},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">STATUS = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTrafficDriveSafeById" parameterType="Long">
        delete from traffic_drive_safe where id = #{id}
    </delete>

    <delete id="deleteTrafficDriveSafeByIds" parameterType="String">
        delete from traffic_drive_safe where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>