<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhishoulife.system.mapper.SafetyHomeAntiTheftMapper">
    
    <resultMap type="SafetyHomeAntiTheft" id="SafetyHomeAntiTheftResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="attention"    column="attention"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSafetyHomeAntiTheftVo">
        select id, title, content, attention, create_time, status from safety_home_anti_theft
    </sql>

    <select id="selectSafetyHomeAntiTheftList" parameterType="SafetyHomeAntiTheft" resultMap="SafetyHomeAntiTheftResult">
        <include refid="selectSafetyHomeAntiTheftVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSafetyHomeAntiTheftById" parameterType="Long" resultMap="SafetyHomeAntiTheftResult">
        <include refid="selectSafetyHomeAntiTheftVo"/>
        where id = #{id}
    </select>

    <insert id="insertSafetyHomeAntiTheft" parameterType="SafetyHomeAntiTheft" useGeneratedKeys="true" keyProperty="id">
        insert into safety_home_anti_theft
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="attention != null and attention != ''">attention,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="attention != null and attention != ''">#{attention},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateSafetyHomeAntiTheft" parameterType="SafetyHomeAntiTheft">
        update safety_home_anti_theft
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="attention != null and attention != ''">attention = #{attention},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSafetyHomeAntiTheftById" parameterType="Long">
        delete from safety_home_anti_theft where id = #{id}
    </delete>

    <delete id="deleteSafetyHomeAntiTheftByIds" parameterType="String">
        delete from safety_home_anti_theft where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>